@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200&family=Roboto&display=swap');

html , body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
main {
	font-family: 'Jost', sans-serif !important;
}

header {
	background-color: 	#fefefe;
	color: #080808;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	color: #080808;
}

.logo {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
	display: flex;
	align-items: center;
	letter-spacing: -0.32px;
	}

nav ul {
	display: flex;
	list-style: none;
}

nav ul li {
	margin: 0 10px;
}

nav ul li a {
	color: #101010;
	text-decoration: none;
}

main {
	
}

.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 760px;
	left: 0px;
	right: 0px;
	top: 60px;
	padding: 50px;

	background: #37517E;
}

.hero h1 {
	font-style: normal;
	font-weight: 700;
	font-size: 80px;
	line-height: 56px;
	margin-left: 94px;
	display: flex;
	align-items: center;
	color: #FFFFFF;
}

.hero p {
	font-family: 'Jost';
	font-style: normal;
	font-weight: 500;
	font-size: 50px;
	line-height: 29px;
	margin-left: 94px;

	display: flex;
	align-items: center;

	color: rgba(255, 255, 255, 0.6);
}

.hero-button {
	display: flex;
}

#hero-get {
	align-items: flex-start;
	padding: 9px 28.3594px 12px 28px;
	width: 147.36px;
	height: 45px;
	margin-left: 94px;
	background: #47B2E4;
	border-radius: 50px;
	border: none;
	color: #fff;
}

#hero-get:hover {
	align-items: flex-start;
	padding: 9px 28.3594px 12px 28px;
	width: 147.36px;
	height: 45px;
	margin-left: 94px;
	background: #f00528f4;
	border-radius: 50px;
	border: none;
	color: #070707;
}

.hero-button h4 {
	margin-left: 65px;
	margin-top: 15px;
	color: white;
}


.form-subscribe {
	border-radius: 50px;
}



.btn {
	display: inline-block;
	padding: 10px 20px;
	background-color: #333;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
}

.services {
	display: flex;
	justify-content: center;
	background: #F3F5FA;
	padding: 56px;
}

.services-h2 {
	display: flex;
	justify-content: center;
}

.subscribe button {
	position: absolute;
	font-family: "Open Sans", sans-serif;
	border-radius: 50px;
	background-color: #47b2e4;
	color: #fff;
	right: 750px;
	padding: 11px 20px;
	border: none;
	height: 34px;
	
}

.subscribe button:hover {
	position: absolute;
	font-family: "Open Sans", sans-serif;
	border-radius: 50px;
	background-color: #d00000;
	color: #0e0d0d;
	right: 750px;
	padding: 11px 20px;
	border: none;
	height: 34px;
	
}

input {
	width: 516px;
	height: 30.5px;
	background: #FFFFFF;
	border-radius: 60px;
	border: none;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
}

.main-footer {
	display: flex;
	justify-content: center;
}

.main-footer-arsha {
	padding: 92px;

}

.main-footer-usefulLinks {
	padding: 99px;
}

.main-footer-ourservices {
	padding: 99px;
}

.main-footer-oursocialnetworks {
	padding: 99px;
}

.main-footer-oursocialnetworks button {
	border-radius: 100px;
	background: #47B2E4;
	border: none;
	color: #fff;
	width: 36px;
	height: 36px;
}

footer {
	display: flex;
	background-color: #37517E;
	color: #fff;
	text-align: center;
	padding: 20px;
	margin-top: 50px;
	justify-content: space-between;

}

